## Creating Repository

In [2]:
import git

# Clone the repository to your local machine
repo = git.Repo.clone_from('https://github.com/brianellis1997/DateAScientist.git', '~/realRepo/DateAScientist2')

In [3]:
import os

# Navigate to the local repository directory
os.chdir('~/realRepo/DateAScientist2')

## Commits

In [51]:
import git

# Navigate to the local repository directory
repo_dir = '~/~/realRepo/DateAScientist2'
repo = git.Repo(repo_dir)

# Stage the changes
repo.git.add('date-a-scientist.ipynb')

# Commit the changes
commit_message = 'Staged the goal and split the locations into cities'
repo.git.commit('-m', commit_message)

# Push the changes to the remote repository
origin = repo.remote(name='origin')
origin.push()

In [53]:
import git

# Navigate to the local repository directory
repo_dir = '~/~/realRepo/DateAScientist2'
repo = git.Repo(repo_dir)

# Pull changes from the remote repository
repo.git.pull()

'Already up to date.'

In [10]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

profiles = pd.read_csv('~/profiles.csv')
profiles.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [11]:
profiles.dtypes

age              int64
body_type       object
diet            object
drinks          object
drugs           object
education       object
essay0          object
essay1          object
essay2          object
essay3          object
essay4          object
essay5          object
essay6          object
essay7          object
essay8          object
essay9          object
ethnicity       object
height         float64
income           int64
job             object
last_online     object
location        object
offspring       object
orientation     object
pets            object
religion        object
sex             object
sign            object
smokes          object
speaks          object
status          object
dtype: object

In [12]:
profiles.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [13]:
# Count of gender
profiles.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

We see there are more males than females

In [14]:
# Lets see the target variable status
profiles.status.value_counts()

single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: status, dtype: int64

Majority are single. Lets see if there is any missing data

In [15]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       54458 non-null  object
 7   essay1       52374 non-null  object
 8   essay2       50308 non-null  object
 9   essay3       48470 non-null  object
 10  essay4       49409 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46175 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40721 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  float64
 18  income       59946 non-null  int64
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59946 non-null  object
 22  offspring    24385 non-null  object
 23  orientation  59946 non-null  object
 24  pets         40025 non-null  object
 25  religion     39720 non-null  object
 26  sex          59946 non-null  object
 27  sign         48890 non-null  object
 28  smokes       54434 non-null  object
 29  speaks       59896 non-null  object
 30  status       59946 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [7]:
# Diet is one of the most empty columns
profiles.diet.value_counts()

mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly kosher           18
strictly halal            18
halal                     11
kosher                    11
Name: diet, dtype: int64

In [8]:
gender_data = profiles.groupby(['sex']).mean()
gender_data

           age     height        income
sex
f    32.818220  65.103873  11181.697392
m    32.018588  70.443492  25991.307656

Males make more than double females

In [17]:
profiles.isnull().sum()

age                0
body_type       5296
diet           24395
drinks          2985
drugs          14080
education       6628
essay0          5488
essay1          7572
essay2          9638
essay3         11476
essay4         10537
essay5         10850
essay6         13771
essay7         12451
essay8         19225
essay9         12603
ethnicity       5680
height             3
income             0
job             8198
last_online        0
location           0
offspring      35561
orientation        0
pets           19921
religion       20226
sex                0
sign           11056
smokes          5512
speaks            50
status             0
dtype: int64

## Goal

Our goal in this document is to understand the differences between gender and sex life. We want to understand the differences between the distributions of males and females, particularly the differences in dates and dating success. Do more females end up going after a smaller proportion of males or is an equal proportion of individuals of each sex getting their fair share of dates?

One thing with this is that there are more males than females in our dataset which will cause some interesting findings. Our main goal is to understand the differences between the dating lifes of the two genders.

**Which city/state is most successful in online dating?**

In [18]:
# Find most common locations
profiles.location.unique()

array(['south san francisco, california', 'oakland, california',
       'san francisco, california', 'berkeley, california',
       'belvedere tiburon, california', 'san mateo, california',
       'daly city, california', 'san leandro, california',
       'atherton, california', 'san rafael, california',
       'walnut creek, california', 'menlo park, california',
       'belmont, california', 'san jose, california',
       'palo alto, california', 'emeryville, california',
       'el granada, california', 'castro valley, california',
       'fairfax, california', 'mountain view, california',
       'burlingame, california', 'martinez, california',
       'pleasant hill, california', 'hayward, california',
       'alameda, california', 'vallejo, california',
       'benicia, california', 'el cerrito, california',
       'mill valley, california', 'richmond, california',
       'redwood city, california', 'el sobrante, california',
       'stanford, california', 'san pablo, california',
       'novato, california', 'pacifica, california',
       'lafayette, california', 'half moon bay, california',
       'fremont, california', 'orinda, california',
       'san anselmo, california', 'corte madera, california',
       'albany, california', 'san carlos, california',
       'san lorenzo, california', 'foster city, california',
       'hercules, california', 'santa cruz, california',
       'bolinas, california', 'sausalito, california',
       'millbrae, california', 'larkspur, california',
       'moraga, california', 'san bruno, california',
       'petaluma, california', 'pinole, california',
       'san geronimo, california', 'crockett, california',
       'boulder, colorado', 'brisbane, california', 'freedom, california',
       'montara, california', 'green brae, california',
       'woodside, california', 'new york, new york', 'ross, california',
       'east palo alto, california', 'san quentin, california',
       'portland, oregon', 'rodeo, california',
       'hacienda heights, california', 'woodacre, california',
       'westlake, california', 'riverside, california',
       'rohnert park, california', 'sacramento, california',
       'point richmond, california', 'san diego, california',
       'canyon country, california', 'tucson, arizona',
       'honolulu, hawaii', 'billings, montana',
       'west oakland, california', 'kentfield, california',
       'milwaukee, wisconsin', 'woodbridge, virginia',
       'glencove, california', 'tiburon, california', 'madrid, spain',
       'las vegas, nevada', 'peoria, illinois',
       'santa monica, california', 'bellwood, illinois',
       'los angeles, california', 'moss beach, california',
       'nha trang, vietnam', 'hillsborough, california',
       'olema, california', 'union city, california', 'colma, california',
       'cork, ireland', 'new orleans, louisiana',
       'kensington, california', 'redwood shores, california',
       'utica, michigan', 'brea, california', 'lagunitas, california',
       'stinson beach, california', 'santa clara, california',
       'studio city, california', 'concord, california',
       'piedmont, california', 'grand rapids, michigan',
       'seaside, california', 'leander, texas',
       'forest knolls, california', 'edinburgh, united kingdom',
       'magalia, california', 'london, united kingdom',
       'astoria, new york', 'chicago, illinois', 'orange, california',
       'south wellfleet, massachusetts', 'bayshore, california',
       'asheville, north carolina', 'los gatos, california',
       'boise, idaho', 'islip terrace, new york', 'sunnyvale, california',
       'cambridge, massachusetts', 'lake orion, michigan',
       'ozone park, new york', 'jackson, mississippi',
       'ashland, california', 'south orange, new jersey',
       'fort lauderdale, florida', 'minneapolis, minnesota',
       'pasadena, california', 'atlanta, georgia', 'salt lake city, utah',
       'arcadia, california', 'milpitas, california',
       'san antonio, texas', 'port costa, california',
       'nicasio, california', 'livingston, california',
       'bellingham, washington', 'crowley, texas',
       'boston, massachusetts', 'longwood, florida',
       'fayetteville, west virginia', 'granite bay, california',
       'isla vista, california', 'hilarita, california',
       'campbell, california', 'stratford, connecticut',
       'santa ana, california', 'santa rosa, california', 'kula, hawaii',
       'murfreesboro, tennessee', 'brooklyn, new york',
       'north hollywood, california', 'nevada city, california',
       'providence, rhode island', 'stockton, california',
       'marin city, california', 'washington, district of columbia',
       'waterford, california', 'vancouver, british columbia, canada',
       'muir beach, california', 'pacheco, california',
       'irvine, california', 'kansas city, missouri', 'kassel, germany',
       'canyon, california', 'philadelphia, pennsylvania',
       'oceanview, california', 'long beach, new york',
       'amsterdam, netherlands', 'taunton, massachusetts',
       'napa, california', 'austin, texas', 'san luis obispo, california',
       'modesto, california', 'bonaduz, switzerland',
       'costa mesa, california', 'guadalajara, mexico',
       'oakley, california', 'columbus, ohio', 'chico, california',
       'south lake tahoe, california', 'vacaville, california',
       'miami, florida', 'long beach, california', 'denver, colorado',
       'seattle, washington', 'cincinnati, ohio', 'phoenix, arizona',
       'rochester, michigan'], dtype=object)

We will want to separate these strings by comma in order to sort by state or city

In [59]:
cities = []
states = []
for loc in profiles.location:
    cities.append(str.split(loc, ',')[0])
    states.append(str.split(loc, ',')[1])
cities

['south san francisco',
 'oakland',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'belvedere tiburon',
 'san mateo',
 'san francisco',
 'daly city',
 'san francisco',
 'san francisco',
 'san leandro',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'atherton',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san leandro',
 'san rafael',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'walnut creek',
 'san rafael',
 'menlo park',
 'oakland',
 'berkeley',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'belmont',
 'oakland',
 'oakland',
 'san francisco',
 'oakland',
 'menlo park',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san jose',
 'san francisco',
 'palo alto',
 'berkeley',
 'belmont',
 'san francisco',
 'emeryville',
 'oakland',
 'oakland',
 'oakland',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'palo alto',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san rafael',
 'el granada',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'castro valley',
 'san francisco',
 'daly city',
 'fairfax',
 'san francisco',
 'san francisco',
 'mountain view',
 'menlo park',
 'burlingame',
 'san francisco',
 'martinez',
 'san francisco',
 'oakland',
 'oakland',
 'san francisco',
 'emeryville',
 'pleasant hill',
 'hayward',
 'alameda',
 'san francisco',
 'berkeley',
 'san francisco',
 'vallejo',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'emeryville',
 'san francisco',
 'san francisco',
 'menlo park',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'berkeley',
 'benicia',
 'oakland',
 'castro valley',
 'san francisco',
 'daly city',
 'oakland',
 'oakland',
 'berkeley',
 'san francisco',
 'el cerrito',
 'vallejo',
 'menlo park',
 'mill valley',
 'san francisco',
 'san francisco',
 'oakland',
 'oakland',
 'oakland',
 'san mateo',
 'richmond',
 'san francisco',
 'redwood city',
 'san rafael',
 'oakland',
 'el cerrito',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'oakland',
 'san francisco',
 'san rafael',
 'menlo park',
 'san francisco',
 'el sobrante',
 'san francisco',
 'walnut creek',
 'san francisco',
 'walnut creek',
 'el cerrito',
 'oakland',
 'mill valley',
 'san francisco',
 'san mateo',
 'hayward',
 'alameda',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'belmont',
 'oakland',
 'oakland',
 'stanford',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'daly city',
 'san pablo',
 'san francisco',
 'menlo park',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'san mateo',
 'san francisco',
 'menlo park',
 'menlo park',
 'san francisco',
 'san francisco',
 'oakland',
 'novato',
 'pacifica',
 'oakland',
 'san francisco',
 'berkeley',
 'san francisco',
 'vallejo',
 'redwood city',
 'san francisco',
 'lafayette',
 'oakland',
 'half moon bay',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'fremont',
 'orinda',
 'oakland',
 'alameda',
 'san mateo',
 'orinda',
 'hayward',
 'san francisco',
 'san mateo',
 'san francisco',
 'san mateo',
 'san mateo',
 'berkeley',
 'san francisco',
 'oakland',
 'oakland',
 'san francisco',
 'novato',
 'el cerrito',
 'san anselmo',
 'san francisco',
 'berkeley',
 'san francisco',
 'castro valley',
 'oakland',
 'oakland',
 'san francisco',
 'san pablo',
 'vallejo',
 'berkeley',
 'mountain view',
 'san mateo',
 'san francisco',
 'burlingame',
 'oakland',
 'san mateo',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'corte madera',
 'san francisco',
 'san francisco',
 'berkeley',
 'south san francisco',
 'san francisco',
 'san rafael',
 'mill valley',
 'hayward',
 'menlo park',
 'oakland',
 'san francisco',
 'oakland',
 'albany',
 'san francisco',
 'san rafael',
 'san francisco',
 'pleasant hill',
 'berkeley',
 'san francisco',
 'san francisco',
 'berkeley',
 'oakland',
 'walnut creek',
 'san leandro',
 'san francisco',
 'san francisco',
 'oakland',
 'oakland',
 'castro valley',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'vallejo',
 'san francisco',
 'san francisco',
 'el cerrito',
 'redwood city',
 'san francisco',
 'berkeley',
 'burlingame',
 'san francisco',
 'mountain view',
 'berkeley',
 'redwood city',
 'novato',
 'san francisco',
 'berkeley',
 'oakland',
 'san francisco',
 'san carlos',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'mill valley',
 'san francisco',
 'vallejo',
 'san francisco',
 'san francisco',
 'san mateo',
 'san francisco',
 'walnut creek',
 'san lorenzo',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san carlos',
 'oakland',
 'san francisco',
 'novato',
 'san francisco',
 'menlo park',
 'belmont',
 'richmond',
 'pacifica',
 'san francisco',
 'emeryville',
 'berkeley',
 'redwood city',
 'hayward',
 'san francisco',
 'san francisco',
 'foster city',
 'san francisco',
 'redwood city',
 'oakland',
 'san rafael',
 'san francisco',
 'san francisco',
 'alameda',
 'san francisco',
 'san mateo',
 'menlo park',
 'san francisco',
 'hercules',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'mountain view',
 'alameda',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'mountain view',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'daly city',
 'san francisco',
 'palo alto',
 'novato',
 'pacifica',
 'san francisco',
 'oakland',
 'berkeley',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'orinda',
 'san francisco',
 'san francisco',
 'menlo park',
 'walnut creek',
 'berkeley',
 'oakland',
 'san francisco',
 'oakland',
 'santa cruz',
 'palo alto',
 'vallejo',
 'redwood city',
 'palo alto',
 'san rafael',
 'hayward',
 'oakland',
 'alameda',
 'menlo park',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'palo alto',
 'san francisco',
 'san mateo',
 'alameda',
 'san francisco',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'berkeley',
 'walnut creek',
 'san francisco',
 'san lorenzo',
 'berkeley',
 'bolinas',
 'san francisco',
 'san francisco',
 'san mateo',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'hayward',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'hayward',
 'oakland',
 'mill valley',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'berkeley',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'alameda',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san mateo',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'san rafael',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'mill valley',
 'sausalito',
 'millbrae',
 'menlo park',
 'palo alto',
 'san francisco',
 'oakland',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'novato',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san rafael',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san rafael',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'mill valley',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'hayward',
 'vallejo',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san leandro',
 'stanford',
 'san francisco',
 'san francisco',
 'larkspur',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'orinda',
 'san francisco',
 'larkspur',
 'hayward',
 'oakland',
 'san francisco',
 'san leandro',
 'san mateo',
 'san francisco',
 'emeryville',
 'castro valley',
 'redwood city',
 'moraga',
 'san francisco',
 'san francisco',
 'oakland',
 'redwood city',
 'vallejo',
 'martinez',
 'menlo park',
 'berkeley',
 'daly city',
 'benicia',
 'menlo park',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'san rafael',
 'san francisco',
 'albany',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'martinez',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'berkeley',
 'san francisco',
 'san francisco',
 'palo alto',
 'san francisco',
 'berkeley',
 'berkeley',
 'sausalito',
 'san francisco',
 'san mateo',
 'san francisco',
 'hayward',
 'san francisco',
 'san francisco',
 'redwood city',
 'belmont',
 'san mateo',
 'san francisco',
 'san francisco',
 'san francisco',
 'emeryville',
 'san francisco',
 'san mateo',
 'san francisco',
 'berkeley',
 'oakland',
 'hayward',
 'oakland',
 'castro valley',
 'oakland',
 'hayward',
 'berkeley',
 'oakland',
 'oakland',
 'oakland',
 'san lorenzo',
 'alameda',
 'berkeley',
 'san leandro',
 'berkeley',
 'oakland',
 'oakland',
 'oakland',
 'hayward',
 'emeryville',
 'san francisco',
 'oakland',
 'el sobrante',
 'san mateo',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'hayward',
 'mountain view',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'san mateo',
 'san francisco',
 'vallejo',
 'sausalito',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san bruno',
 'san francisco',
 'san francisco',
 'san mateo',
 'san francisco',
 'san francisco',
 'berkeley',
 'oakland',
 'berkeley',
 'san francisco',
 'vallejo',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san lorenzo',
 'san francisco',
 'san francisco',
 'san francisco',
 'millbrae',
 'pacifica',
 'daly city',
 'san francisco',
 'berkeley',
 'stanford',
 'burlingame',
 'hayward',
 'oakland',
 'san francisco',
 'san francisco',
 'alameda',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'vallejo',
 'vallejo',
 'vallejo',
 'vallejo',
 'oakland',
 'hayward',
 'san francisco',
 'san francisco',
 'walnut creek',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'walnut creek',
 'alameda',
 'san francisco',
 'san mateo',
 'san francisco',
 'berkeley',
 'san francisco',
 'berkeley',
 'oakland',
 'san francisco',
 'san francisco',
 'berkeley',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'hayward',
 'oakland',
 'san francisco',
 'san pablo',
 'san francisco',
 'menlo park',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san leandro',
 'alameda',
 'san francisco',
 'san rafael',
 'el sobrante',
 'oakland',
 'oakland',
 'oakland',
 'walnut creek',
 'berkeley',
 'san francisco',
 'san francisco',
 'oakland',
 'oakland',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'castro valley',
 'berkeley',
 'san leandro',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'oakland',
 'oakland',
 'richmond',
 'redwood city',
 'emeryville',
 'el cerrito',
 'mountain view',
 'san francisco',
 'san francisco',
 'san francisco',
 'novato',
 'oakland',
 'novato',
 'san francisco',
 'petaluma',
 'san francisco',
 'pinole',
 'san francisco',
 'pleasant hill',
 'martinez',
 'oakland',
 'oakland',
 'san francisco',
 'san francisco',
 'san carlos',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'berkeley',
 'san francisco',
 'san francisco',
 'hayward',
 'berkeley',
 'san francisco',
 'san francisco',
 'martinez',
 'san rafael',
 'san francisco',
 'san francisco',
 'san francisco',
 'palo alto',
 'san geronimo',
 'redwood city',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'stanford',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'emeryville',
 'san francisco',
 'san mateo',
 'oakland',
 'san francisco',
 'san francisco',
 'redwood city',
 'san mateo',
 'berkeley',
 'san francisco',
 'san francisco',
 'san mateo',
 'oakland',
 'san francisco',
 'san francisco',
 'berkeley',
 'san mateo',
 'san francisco',
 'san bruno',
 'san francisco',
 'san francisco',
 'berkeley',
 'berkeley',
 'san francisco',
 'san francisco',
 'palo alto',
 'oakland',
 'san francisco',
 'berkeley',
 'alameda',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'oakland',
 'mountain view',
 'berkeley',
 'belmont',
 'san francisco',
 'san francisco',
 'san mateo',
 'san francisco',
 'san francisco',
 'oakland',
 'oakland',
 'menlo park',
 'oakland',
 'san mateo',
 'berkeley',
 'san francisco',
 'san francisco',
 'menlo park',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'emeryville',
 'oakland',
 'san francisco',
 'stanford',
 'san francisco',
 'oakland',
 'san francisco',
 'martinez',
 'san francisco',
 'larkspur',
 'san francisco',
 'san francisco',
 'berkeley',
 'san rafael',
 'san francisco',
 'berkeley',
 'san francisco',
 'walnut creek',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san mateo',
 'berkeley',
 'san mateo',
 'san francisco',
 'alameda',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'palo alto',
 'san francisco',
 'oakland',
 'berkeley',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'pinole',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'san leandro',
 'san francisco',
 'san francisco',
 'burlingame',
 'oakland',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'albany',
 'palo alto',
 'san francisco',
 'san francisco',
 'berkeley',
 'san francisco',
 'san francisco',
 'orinda',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san rafael',
 'south san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'berkeley',
 'san francisco',
 'san francisco',
 'san francisco',
 'oakland',
 'san francisco',
 'berkeley',
 'walnut creek',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'berkeley',
 'oakland',
 'san francisco',
 'hayward',
 'san francisco',
 'oakland',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 'san francisco',
 ...]

In [32]:
# Unique values
set(cities)

{'alameda',
 'albany',
 'amsterdam',
 'arcadia',
 'asheville',
 'ashland',
 'astoria',
 'atherton',
 'atlanta',
 'austin',
 'bayshore',
 'bellingham',
 'bellwood',
 'belmont',
 'belvedere tiburon',
 'benicia',
 'berkeley',
 'billings',
 'boise',
 'bolinas',
 'bonaduz',
 'boston',
 'boulder',
 'brea',
 'brisbane',
 'brooklyn',
 'burlingame',
 'cambridge',
 'campbell',
 'canyon',
 'canyon country',
 'castro valley',
 'chicago',
 'chico',
 'cincinnati',
 'colma',
 'columbus',
 'concord',
 'cork',
 'corte madera',
 'costa mesa',
 'crockett',
 'crowley',
 'daly city',
 'denver',
 'east palo alto',
 'edinburgh',
 'el cerrito',
 'el granada',
 'el sobrante',
 'emeryville',
 'fairfax',
 'fayetteville',
 'forest knolls',
 'fort lauderdale',
 'foster city',
 'freedom',
 'fremont',
 'glencove',
 'grand rapids',
 'granite bay',
 'green brae',
 'guadalajara',
 'hacienda heights',
 'half moon bay',
 'hayward',
 'hercules',
 'hilarita',
 'hillsborough',
 'honolulu',
 'irvine',
 'isla vista',
 'islip terrace',
 'jackson',
 'kansas city',
 'kassel',
 'kensington',
 'kentfield',
 'kula',
 'lafayette',
 'lagunitas',
 'lake orion',
 'larkspur',
 'las vegas',
 'leander',
 'livingston',
 'london',
 'long beach',
 'longwood',
 'los angeles',
 'los gatos',
 'madrid',
 'magalia',
 'marin city',
 'martinez',
 'menlo park',
 'miami',
 'mill valley',
 'millbrae',
 'milpitas',
 'milwaukee',
 'minneapolis',
 'modesto',
 'montara',
 'moraga',
 'moss beach',
 'mountain view',
 'muir beach',
 'murfreesboro',
 'napa',
 'nevada city',
 'new orleans',
 'new york',
 'nha trang',
 'nicasio',
 'north hollywood',
 'novato',
 'oakland',
 'oakley',
 'oceanview',
 'olema',
 'orange',
 'orinda',
 'ozone park',
 'pacheco',
 'pacifica',
 'palo alto',
 'pasadena',
 'peoria',
 'petaluma',
 'philadelphia',
 'phoenix',
 'piedmont',
 'pinole',
 'pleasant hill',
 'point richmond',
 'port costa',
 'portland',
 'providence',
 'redwood city',
 'redwood shores',
 'richmond',
 'riverside',
 'rochester',
 'rodeo',
 'rohnert park',
 'ross',
 'sacramento',
 'salt lake city',
 'san anselmo',
 'san antonio',
 'san bruno',
 'san carlos',
 'san diego',
 'san francisco',
 'san geronimo',
 'san jose',
 'san leandro',
 'san lorenzo',
 'san luis obispo',
 'san mateo',
 'san pablo',
 'san quentin',
 'san rafael',
 'santa ana',
 'santa clara',
 'santa cruz',
 'santa monica',
 'santa rosa',
 'sausalito',
 'seaside',
 'seattle',
 'south lake tahoe',
 'south orange',
 'south san francisco',
 'south wellfleet',
 'stanford',
 'stinson beach',
 'stockton',
 'stratford',
 'studio city',
 'sunnyvale',
 'taunton',
 'tiburon',
 'tucson',
 'union city',
 'utica',
 'vacaville',
 'vallejo',
 'vancouver',
 'walnut creek',
 'washington',
 'waterford',
 'west oakland',
 'westlake',
 'woodacre',
 'woodbridge',
 'woodside'}

In [61]:
import collections

city_counts = collections.Counter(cities)
state_counts = collections.Counter(states)

print(value_counts)

Counter({'san francisco': 31064, 'oakland': 7214, 'berkeley': 4212, 'san mateo': 1331, 'palo alto': 1064, 'alameda': 910, 'san rafael': 755, 'hayward': 747, 'emeryville': 738, 'redwood city': 693, 'daly city': 681, 'san leandro': 651, 'walnut creek': 644, 'vallejo': 558, 'menlo park': 479, 'richmond': 424, 'south san francisco': 416, 'mountain view': 384, 'novato': 369, 'burlingame': 361, 'pleasant hill': 347, 'castro valley': 345, 'stanford': 341, 'el cerrito': 325, 'pacifica': 323, 'martinez': 316, 'mill valley': 315, 'san bruno': 290, 'san pablo': 245, 'belmont': 243, 'albany': 233, 'san carlos': 227, 'benicia': 203, 'lafayette': 180, 'sausalito': 179, 'millbrae': 155, 'san anselmo': 147, 'el sobrante': 137, 'san lorenzo': 135, 'fairfax': 121, 'hercules': 117, 'pinole': 104, 'half moon bay': 99, 'fremont': 90, 'green brae': 87, 'orinda': 85, 'moraga': 84, 'larkspur': 80, 'corte madera': 76, 'belvedere tiburon': 57, 'atherton': 45, 'brisbane': 38, 'rodeo': 37, 'crockett': 32, 'el granada': 27, 'foster city': 24, 'kentfield': 18, 'woodacre': 16, 'east palo alto': 13, 'montara': 12, 'ross': 12, 'piedmont': 12, 'woodside': 11, 'westlake': 11, 'new york': 10, 'los angeles': 10, 'lagunitas': 10, 'san geronimo': 9, 'bolinas': 8, 'point richmond': 8, 'moss beach': 8, 'west oakland': 7, 'colma': 7, 'san diego': 6, 'chicago': 6, 'santa cruz': 5, 'tiburon': 5, 'portland': 4, 'hillsborough': 4, 'stinson beach': 4, 'santa monica': 3, 'bayshore': 3, 'nicasio': 3, 'brooklyn': 3, 'san jose': 2, 'petaluma': 2, 'san quentin': 2, 'sacramento': 2, 'tucson': 2, 'woodbridge': 2, 'madrid': 2, 'kensington': 2, 'redwood shores': 2, 'forest knolls': 2, 'los gatos': 2, 'minneapolis': 2, 'atlanta': 2, 'salt lake city': 2, 'boston': 2, 'santa rosa': 2, 'washington': 2, 'irvine': 2, 'long beach': 2, 'napa': 2, 'boulder': 1, 'freedom': 1, 'hacienda heights': 1, 'riverside': 1, 'rohnert park': 1, 'canyon country': 1, 'honolulu': 1, 'billings': 1, 'milwaukee': 1, 'glencove': 1, 'las vegas': 1, 'peoria': 1, 'bellwood': 1, 'nha trang': 1, 'olema': 1, 'union city': 1, 'cork': 1, 'new orleans': 1, 'utica': 1, 'brea': 1, 'santa clara': 1, 'studio city': 1, 'concord': 1, 'grand rapids': 1, 'seaside': 1, 'leander': 1, 'edinburgh': 1, 'magalia': 1, 'london': 1, 'astoria': 1, 'orange': 1, 'south wellfleet': 1, 'asheville': 1, 'boise': 1, 'islip terrace': 1, 'sunnyvale': 1, 'cambridge': 1, 'lake orion': 1, 'ozone park': 1, 'jackson': 1, 'ashland': 1, 'south orange': 1, 'fort lauderdale': 1, 'pasadena': 1, 'arcadia': 1, 'milpitas': 1, 'san antonio': 1, 'port costa': 1, 'livingston': 1, 'bellingham': 1, 'crowley': 1, 'longwood': 1, 'fayetteville': 1, 'granite bay': 1, 'isla vista': 1, 'hilarita': 1, 'campbell': 1, 'stratford': 1, 'santa ana': 1, 'kula': 1, 'murfreesboro': 1, 'north hollywood': 1, 'nevada city': 1, 'providence': 1, 'stockton': 1, 'marin city': 1, 'waterford': 1, 'vancouver': 1, 'muir beach': 1, 'pacheco': 1, 'kansas city': 1, 'kassel': 1, 'canyon': 1, 'philadelphia': 1, 'oceanview': 1, 'amsterdam': 1, 'taunton': 1, 'austin': 1, 'san luis obispo': 1, 'modesto': 1, 'bonaduz': 1, 'costa mesa': 1, 'guadalajara': 1, 'oakley': 1, 'columbus': 1, 'chico': 1, 'south lake tahoe': 1, 'vacaville': 1, 'miami': 1, 'denver': 1, 'seattle': 1, 'cincinnati': 1, 'phoenix': 1, 'rochester': 1})

In [62]:
print(type(value_counts))

cities_df = pd.DataFrame(value_counts.items(), columns=['City', 'Count'])
cities_df.head()

<class 'collections.Counter'>

                  City  Count
0  south san francisco    416
1              oakland   7214
2        san francisco  31064
3             berkeley   4212
4    belvedere tiburon     57

In [63]:
# Sort by most common cities
cities_df.sort_values('Count', ascending=False).head()

             City  Count
2   san francisco  31064
1         oakland   7214
3        berkeley   4212
5       san mateo   1331
14      palo alto   1064

In [66]:
states_df = pd.DataFrame(state_counts.items(), columns = ['State', 'Count'])
states_df.head()

         State  Count
0   california  59855
1     colorado      2
2     new york     17
3       oregon      4
4      arizona      3

In [67]:
# Sort by most common states
states_df.sort_values('Count', ascending=False).head()

             State  Count
0       california  59855
2         new york     17
11        illinois      8
18   massachusetts      5
16           texas      4

As we can see, this dataset is comprised of mainly californian dating profiles, therefore this states dataframe isn't of much use to us.