In [34]:
import git

# Clone the repository to your local machine
repo = git.Repo.clone_from('https://github.com/brianellis1997/DateAScientist.git', 'Documents/Repo/DateAScientist')

In [35]:
import os

# Navigate to the local repository directory
os.chdir('Documents/Repo/DateAScientist')

In [33]:
# Stage the files
repo.git.add('date-a-scientist.ipynb')
repo.git.add('profiles.csv')

GitCommandError: Cmd('git') failed due to: exit code(128)
  cmdline: git add date-a-scientist.ipynb
  stderr: 'fatal: pathspec 'date-a-scientist.ipynb' did not match any files'

In [29]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

profiles = pd.read_csv('profiles.csv')
profiles.head()

FileNotFoundError: [Errno 2] No such file or directory: 'profiles.csv'

In [2]:
profiles.dtypes

age              int64
body_type       object
diet            object
drinks          object
drugs           object
education       object
essay0          object
essay1          object
essay2          object
essay3          object
essay4          object
essay5          object
essay6          object
essay7          object
essay8          object
essay9          object
ethnicity       object
height         float64
income           int64
job             object
last_online     object
location        object
offspring       object
orientation     object
pets            object
religion        object
sex             object
sign            object
smokes          object
speaks          object
status          object
dtype: object

In [3]:
profiles.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [4]:
# Count of gender
profiles.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

We see there are more males than females

In [5]:
# Lets see the target variable status
profiles.status.value_counts()

single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: status, dtype: int64

Majority are single. Lets see if there is any missing data

In [6]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       54458 non-null  object
 7   essay1       52374 non-null  object
 8   essay2       50308 non-null  object
 9   essay3       48470 non-null  object
 10  essay4       49409 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46175 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40721 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  float64
 18  income       59946 non-null  int64
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59946 non-null  object
 22  offspring    24385 non-null  object
 23  orientation  59946 non-null  object
 24  pets         40025 non-null  object
 25  religion     39720 non-null  object
 26  sex          59946 non-null  object
 27  sign         48890 non-null  object
 28  smokes       54434 non-null  object
 29  speaks       59896 non-null  object
 30  status       59946 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

In [7]:
# Diet is one of the most empty columns
profiles.diet.value_counts()

mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly kosher           18
strictly halal            18
halal                     11
kosher                    11
Name: diet, dtype: int64

In [8]:
gender_data = profiles.groupby(['sex']).mean()
gender_data

           age     height        income
sex
f    32.818220  65.103873  11181.697392
m    32.018588  70.443492  25991.307656

Males make more than double females

## Goal

Our goal in this document is to understand the differences between gender and sex life. We want to understand the differences between the distributions of males and females, particularly the differences in dates and dating success. Do more females end up going after a smaller proportion of males or is an equal proportion of individuals of each sex getting their fair share of dates?

One thing with this is that there are more males than females in our dataset which will cause some interesting findings. Our main goal is to understand the differences between the dating lifes of the two genders.